#about2 {
    background-color: $color1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    @media screen and (max-width: 1285px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "net lan"
            "net hob";
    }

    @media screen and (max-width: 631px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr 0.5fr;
        grid-template-areas:
            "net"
            "lan"
            "hob";
    }

    .network {
        grid-area: net;

        .reseaux-grid {
            display: grid;
            grid-template-columns: 1fr 3fr;

            @media screen and (max-width: 1285px) {
                grid-template-columns: 1fr 1fr;
                width: 50%;
                margin: 0 auto;
            }
        }
    }

    .langues {
        grid-area: lan;
        // background-color: white;

        @media screen and (max-width: 1285px) {
            padding-bottom: 10px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                display: block;
                bottom: -5px;
                left: 50%;
                width: 70%;
                height: 1px;
                background-image: linear-gradient(to left,
                        transparent,
                        black,
                        transparent);
                transform: translateX(-50%);
            }
        }

        p {
            padding-left: 50px;
            padding-bottom: 12px;

            @media screen and (max-width: 1285px) {
                text-align: center;
                padding-left: 0;
                    // background-color: white;
                }
        }
    }

    .hobbies {
        grid-area: hob;
        padding-bottom: 30px;

        @media screen and (max-width: 940px) {
            // background-color: white;
        }

        p {
            padding-left: 50px;
            @media screen and (max-width: 1285px) {
                    text-align: center;
                    padding-left: 0;
                    // background-color: white;
                }
        }
    }
}