#profil {

    @media screen and (max-width: 940px) {
        // background-color: rgb(222, 184, 135, 0.5);
    }

    p{  
        width: 80%;
        margin: 0 auto;
        text-align: justify;
       
    }


}