@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgb(237, 237, 237);
  overflow-x: hidden;
}

button {
  background: none;
  outline: none;
  border: 1px solid rgb(242, 242, 242);
  color: rgb(242, 242, 242);
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

button:hover {
  color: #575757;
  background: rgb(242, 242, 242);
}

a {
  color: #551a8b;
  text-decoration: none;
}

.contact {
  padding: 65px 0 20px;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 400;
  position: relative;
}

.contact-list:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(235, 235, 235);
  bottom: -28px;
}

.contact-list .list {
  text-align: left;
  width: 24%;
}

#contact-img img {
  margin: 0 auto;
  display: block;
}

.contact-list h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 15px;
}

.infos-p li {
  margin: 15px 0;
}

.list p {
  line-height: 22px;
  margin-bottom: 15px;
}

.list h6 {
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.list .network {
  margin: 20px 0 8px;
}

.footer-logos i {
  font-size: 0.8rem;
  margin: 0 12px 30px 0;
}

.copyright {
  margin: 0;
}

.contact-medias {
  padding: 60px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0 auto;
}

.medias-text {
  text-align: left;
  width: 30%;
}

.medias-text h3 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 12px;
}

.medias-text p {
  font-size: 0.8rem;
}

.medias-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.medias-logos img {
  width: 60px;
}

footer {
  background: rgb(15, 15, 15);
  color: whitesmoke;
  padding: 25px;
}

footer h3 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 32px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto;
}

/* *********** MEDIA QUERIES *************** */
nav {
  width: 100%;
  margin: 0 auto;
  font-size: calc(0.5rem + 1.5vw);
  padding: 10px 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f39659), to(#eb555e));
  background: linear-gradient(to bottom, #f39659 0%, #eb555e 100%);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  max-width: 1100px;
  margin: 0 auto;
}
nav ul li {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  padding: 20px 0;
  color: #551a8b;
}
nav ul li:first-child:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: #551a8b;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
nav ul li:hover:before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  background: #551a8b;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.nav-toggle {
  display: none;
}

@media screen and (max-width: 540px) {
  #icons {
    display: block;
    cursor: pointer;
  }
  #icons:before {
    content: "☰";
    color: #551a8b;
    font-size: larger;
  }
  #nav-toggle:checked + #icons:before {
    content: "✕";
    color: #551a8b;
    font-size: larger;
  }
  #nav-toggle:checked ~ ul {
    position: fixed;
    left: 0;
    top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav {
    position: fixed;
    z-index: 100;
  }
  nav ul {
    position: fixed;
    left: -100%;
    top: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#eb555e), to(#f39659));
    background: linear-gradient(to bottom, #eb555e 0%, #f39659 100%);
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-top: 10px;
  }
  nav ul li {
    padding: 3px 0;
  }
  nav ul li:first-child:before, nav ul li:hover:before {
    content: none;
  }
}
#accueil {
  width: 100%;
}
#accueil .main-header {
  background-image: -webkit-image-set(url("../assets/img/bg-small.webp") 1x, url("../assets/img/bg-medium.webp") 2x, url("../assets/img/bg-big.webp") 3x);
  background-image: image-set(url("../assets/img/bg-small.webp") 1x, url("../assets/img/bg-medium.webp") 2x, url("../assets/img/bg-big.webp") 3x);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(242, 242, 242);
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (max-width: 540px) {
  #accueil .main-header {
    padding: 120px 20px 60px;
  }
}
#accueil .main-header #logo img {
  width: 70%;
}
@media screen and (max-width: 540px) {
  #accueil .main-header #logo img {
    width: 100%;
  }
}
#accueil .main-header .title-header span {
  text-transform: uppercase;
  font-size: clamp(0.9rem, 0.6rem + 0.96vw, 1.5rem);
  font-weight: 600;
  margin: 30px 0 35px;
}
@media screen and (max-width: 570px) {
  #accueil .main-header .title-header span {
    display: block;
    margin: 10px 0;
  }
}
#accueil .main-header button {
  max-width: 500px;
  padding: 15px 30px;
  letter-spacing: 2px;
}
#accueil .main-header button i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.header-text {
  padding: 45px;
  max-width: 1100px;
  font-size: 1.2rem;
  line-height: 30px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .header-text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 820px) {
  .header-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 431px) {
  .header-text {
    font-size: 1.1rem;
    text-align: justify;
  }
}

.icon-part {
  background: rgb(15, 15, 15);
  padding: 65px 30px;
  color: rgb(242, 242, 242);
}
.icon-part .icon-part-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 750px) {
  .icon-part .icon-part-container {
    display: grid;
    gap: 50px;
  }
  .icon-part .icon-part-container > *:nth-child(-n+2):after {
    position: absolute;
    content: "";
    width: 95%;
    height: 1px;
    background-color: rgb(242, 242, 242);
    bottom: -10px;
  }
}
@media screen and (max-width: 600px) {
  .icon-part .icon-part-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 80px;
  }
  .icon-part .icon-part-container > *:nth-child(-n+2):after {
    bottom: -30px;
    width: 330px;
  }
}
.icon-part .icon-part-container .list-icon-part {
  position: relative;
  width: 33%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45% 10% 35% 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
@media screen and (max-width: 750px) {
  .icon-part .icon-part-container .list-icon-part {
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "img par" "h3 but";
  }
  .icon-part .icon-part-container .list-icon-part .lip-logo {
    grid-area: img;
  }
  .icon-part .icon-part-container .list-icon-part h3 {
    grid-area: h3;
  }
  .icon-part .icon-part-container .list-icon-part p {
    grid-area: par;
  }
  .icon-part .icon-part-container .list-icon-part button {
    grid-area: but;
  }
}
@media screen and (max-width: 600px) {
  .icon-part .icon-part-container .list-icon-part {
    width: 330px;
    grid-template-columns: 1fr;
    grid-template-rows: 45% 10% 35% 10%;
    grid-template-areas: "img" "h3" "par" "but";
  }
}
.icon-part .icon-part-container .list-icon-part .lip-logo {
  margin-bottom: 30px;
}
.icon-part .icon-part-container .list-icon-part h3 {
  text-transform: uppercase;
  font-weight: 700;
}
@media screen and (max-width: 820px) {
  .icon-part .icon-part-container .list-icon-part h3 {
    font-size: 0.9rem;
  }
}
.icon-part .icon-part-container .list-icon-part p {
  width: 80%;
  margin: 10px auto 20px;
}
@media screen and (max-width: 820px) {
  .icon-part .icon-part-container .list-icon-part p {
    font-size: 0.9rem;
  }
}
.icon-part .icon-part-container .list-icon-part button {
  padding: 9px 32px;
  height: 35px;
}

.news-part {
  background: rgb(242, 242, 242);
  padding: 60px 20px 45px;
}
.news-part .header-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}
@media screen and (max-width: 667px) {
  .news-part .header-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
.news-part .header-news .left-part {
  line-height: 30px;
}
.news-part .header-news .left-part h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  text-align: left;
}
@media screen and (max-width: 667px) {
  .news-part .header-news .left-part h2 {
    font-size: 1.2rem;
  }
}
.news-part .header-news .right-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.news-part .header-news .right-part button {
  color: #575757;
  border-color: #575757;
  letter-spacing: 1px;
  padding: 10px 20px;
}
.news-part .header-news .right-part button:hover {
  color: rgb(242, 242, 242);
  background: #575757;
}
.news-part .main-news .main-news-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}
.news-part .main-news .main-news-container div {
  max-width: 30%;
}
.news-part .main-news .main-news-container div .mn-pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px #888;
          box-shadow: 0 2px 10px #888;
}
.news-part .main-news .main-news-container h4 {
  margin: 15px 0;
  text-align: left;
}
.news-part .main-news .main-news-container p {
  text-align: left;
  font-size: 0.8rem;
  line-height: 20px;
  margin-bottom: 45px;
}
.news-part .main-news .main-news-container .link {
  text-align: left;
  position: absolute;
  bottom: 0;
}
.news-part .main-news .main-news-container .link a {
  text-transform: uppercase;
  color: rgb(95, 4, 170);
  font-size: 0.7rem;
  letter-spacing: 1px;
  font-weight: 900;
}
.news-part .main-news .main-news-container .link a:hover {
  color: rgb(180, 180, 1);
}
.news-part .main-news .main-news-container .link a i {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}/*# sourceMappingURL=index.css.map */