@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "let rig" "leb rig";
}
@media screen and (max-width: 1285px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 330px 1fr 0.2fr;
    grid-template-areas: "let" "rig" "leb";
  }
}
@media screen and (max-width: 790px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 0.2fr;
    grid-template-areas: "let" "rig" "leb";
  }
}

.left-top {
  width: 100%;
  grid-area: let;
}
.left-top p {
  padding: 8px;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.3;
}

.left-bottom {
  width: 100%;
  grid-area: leb;
}
.left-bottom p {
  padding: 8px;
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.3;
}

.right {
  grid-area: rig;
  background-color: rgba(224, 224, 224, 0.177);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 1285px) {
  .right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.right p {
  padding-bottom: 10px;
  font-size: 0.9rem;
  text-align: left;
  line-height: 1.3;
}

.form-container,
.expe-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 auto;
}

#profil,
#experiences,
#formation,
#skills {
  padding-bottom: 30px;
}

h1 {
  opacity: 0.9;
  text-align: center;
  margin: 15px 0;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  opacity: 0.7;
  letter-spacing: 2px;
  margin: 15px 0;
  font-size: 1.1rem;
}

h3 {
  display: inline-block;
  margin: 30px auto;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid rgba(60, 60, 60, 0.4274509804);
  padding: 10px 10px 8px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

strong {
  font-size: 1.1rem;
  margin-bottom: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

i {
  margin: auto;
}

ul {
  text-align: left;
  padding-left: 50px;
  margin-bottom: 30px;
}

li {
  font-style: italic;
  font-size: 0.9rem;
}

.button1 {
  width: 40%;
  display: block;
  background: rgba(94, 94, 94, 0.4039215686);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.button1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: rgba(94, 94, 94, 0.6156862745);
}
@media screen and (max-width: 780px) {
  .button1 {
    width: 20%;
  }
}
@media screen and (max-width: 540px) {
  .button1 {
    width: 50%;
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  padding: 10px;
  text-decoration: none;
  border-radius: 50%;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.back-to-top:hover {
  opacity: 0.7;
}

#about {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, rgba(224, 224, 224, 0.177)), to(rgba(137, 43, 226, 0.376)));
  background-image: linear-gradient(to bottom, rgba(224, 224, 224, 0.177) 25%, rgba(137, 43, 226, 0.376));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (max-width: 1285px) {
  #about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "pp na con";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 790px) {
  #about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
#about .profile-picture {
  grid-area: pp;
  height: 100%;
  width: 100%;
  max-width: 350px;
  max-height: 300px;
  margin: 0 auto;
  padding: 30px;
}
#about .profile-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.75);
          box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.75);
}
#about .name {
  grid-area: na;
  position: relative;
  padding-bottom: 30px;
  max-height: 180px;
}
#about .name::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 50%;
  width: 70%;
  height: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(rgb(73, 73, 73)), to(transparent));
  background-image: linear-gradient(to left, transparent, rgb(73, 73, 73), transparent);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 1285px) {
  #about .name::after {
    display: none;
  }
}
@media screen and (max-width: 790px) {
  #about .name::after {
    display: block;
  }
}
@media screen and (max-width: 1285px) {
  #about .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 790px) {
  #about .name {
    padding-bottom: 20px;
  }
}
#about .contact {
  grid-area: con;
  padding-top: 10px;
}
@media screen and (max-width: 1285px) {
  #about .contact {
    padding: 0 0 30px 0;
  }
}
#about .contact .contact-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 790px) {
  #about .contact .contact-grid {
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto;
  }
}

#about2 {
  background-color: rgba(137, 43, 226, 0.376);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (max-width: 1285px) {
  #about2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "net lan" "net hob";
  }
}
@media screen and (max-width: 631px) {
  #about2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-areas: "net" "lan" "hob";
  }
}
#about2 .network {
  grid-area: net;
}
#about2 .network .reseaux-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 1285px) {
  #about2 .network .reseaux-grid {
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: 0 auto;
  }
}
#about2 .langues {
  grid-area: lan;
}
@media screen and (max-width: 1285px) {
  #about2 .langues {
    padding-bottom: 10px;
    position: relative;
  }
  #about2 .langues::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -5px;
    left: 50%;
    width: 70%;
    height: 1px;
    background-image: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(black), to(transparent));
    background-image: linear-gradient(to left, transparent, black, transparent);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
#about2 .langues p {
  padding-left: 50px;
  padding-bottom: 12px;
}
@media screen and (max-width: 1285px) {
  #about2 .langues p {
    text-align: center;
    padding-left: 0;
  }
}
#about2 .hobbies {
  grid-area: hob;
  padding-bottom: 30px;
}
#about2 .hobbies p {
  padding-left: 50px;
}
@media screen and (max-width: 1285px) {
  #about2 .hobbies p {
    text-align: center;
    padding-left: 0;
  }
}

#profil p {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}

#skills .container1 {
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 750px) {
  #skills .container1 {
    display: none;
  }
}
#skills .container1 .card {
  position: relative;
  width: 150px;
  height: 100%;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}
#skills .container1 .card .percent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3450980392);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3450980392);
  background: rgba(34, 34, 34, 0);
  z-index: 1000;
}
#skills .container1 .card .percent svg {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#skills .container1 .card .percent svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #ffffff;
  stroke-width: 10;
  stroke-linecap: round;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
}
#skills .container1 .card .percent svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
#skills .container1 .card .percent .num {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
#skills .container1 .card .percent .num h2 {
  color: #777;
  font-weight: 700;
  font-size: 2.5rem;
}
#skills .container1 .card .percent .num h2 span {
  color: #777;
  font-size: 1.5rem;
}
#skills .container1 .card .text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#skills .container1 .card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: 44;
  stroke: rgba(137, 43, 226, 0.376);
}
#skills .container1 .card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: 66;
  stroke: rgba(137, 43, 226, 0.376);
}
#skills .container1 .card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: 88;
  stroke: rgba(137, 43, 226, 0.376);
}
#skills .container1 .card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: 110;
  stroke: rgba(137, 43, 226, 0.376);
}
@media screen and (min-width: 750px) {
  #skills .container2 {
    display: none;
  }
}
@media screen and (max-width: 749.9px) {
  #skills .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  #skills .container2 .progress {
    position: relative;
    margin-bottom: 15px;
  }
  #skills .container2 .progress .flx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #skills .container2 .progress h4 {
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.565);
    text-align: left;
  }
  #skills .container2 .progress .progress-bar {
    height: 10px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 1px rgba(128, 128, 128, 0.323) solid;
  }
  #skills .container2 .progress .progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(137, 43, 226, 0.376);
  }
  #skills .container2 .progress:nth-child(1) .progress-bar::before {
    width: 90%;
  }
  #skills .container2 .progress:nth-child(2) .progress-bar::before {
    width: 85%;
  }
  #skills .container2 .progress:nth-child(3) .progress-bar::before {
    width: 80%;
  }
  #skills .container2 .progress:nth-child(4) .progress-bar::before {
    width: 75%;
  }
}

#libre {
  padding-bottom: 30px;
}
#libre p {
  width: 80%;
  text-align: justify;
  padding: 0px 0px 10px 0;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */