#formation {



    @media screen and (max-width: 940px) {
        background-color: rgb(222, 184, 135, 0.5);
    }

    .form-container {

        padding: 8px 50px;


        p {
            font-size: 1rem;
            margin: 10px 0;
        }
    }
}