@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
li,
a {
  color: rgba(0, 0, 0, 0.689);
}

h2,
h3,
li {
  text-transform: capitalize;
}

li {
  list-style: none;
  padding-bottom: 15px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
li:hover {
  font-weight: bold;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

a {
  text-decoration: none;
}

header {
  padding: 20px;
}

.body-a-propos,
.body-mes-projets,
.body-contact {
  width: 100%;
  height: 100vh;
  font-family: "Victor Mono", monospace;
  font-size: 16px;
  letter-spacing: 3px;
  background: #d0d8da;
  background: linear-gradient(45deg, #d0d8da 0%, #dee7e9 49%, #f3fdff 100%);
}
.body-a-propos header ul,
.body-mes-projets header ul,
.body-contact header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.body-a-propos header ul li,
.body-mes-projets header ul li,
.body-contact header ul li {
  font-size: 1.3rem;
}

.active-link {
  font-weight: bold;
}

.body-accueil {
  width: 100%;
  height: 100vh;
  font-family: "Victor Mono", monospace;
  font-size: 16px;
  letter-spacing: 3px;
  background-image: url("../img/bg-img.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.body-accueil h1 {
  font-size: 2rem;
}
@media screen and (max-width: 420px) {
  .body-accueil h1 {
    padding-bottom: 25px;
    text-align: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .body-accueil h2 {
    padding-bottom: 25px;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 420px) {
  .body-accueil h3 {
    font-size: 1rem;
  }
}
.body-accueil main {
  height: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 1000px) {
  .body-accueil main {
    grid-template-columns: 3fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .body-accueil main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.body-accueil main .nav-right {
  position: relative;
}
.body-accueil main .nav-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1000px) {
  .body-accueil main .nav-right ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}
@media screen and (max-width: 600px) {
  .body-accueil main .nav-right ul {
    position: absolute;
    display: block;
    width: 300px;
    bottom: 0;
    right: 0;
  }
}/*# sourceMappingURL=index.css.map */