@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");
* {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1050px) {
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@-webkit-keyframes scaleAnimation1 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation1 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleAnimation2 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  71% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation2 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  71% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  90% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleAnimation3 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  61% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation3 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  61% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  75% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleAnimation4 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  11% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation4 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  11% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleAnimation5 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  21% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation5 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  21% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes scaleAnimation6 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scaleAnimation6 {
  0%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  51% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  65% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.accueil {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Calistoga", cursive;
  letter-spacing: 1px;
  overflow-x: hidden;
}

i {
  color: #fe6b19;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  text-align: center;
}

.accueil {
  background-color: black;
  height: 100%;
  width: 100%;
  font-size: 16px;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: 1fr 690px;
  grid-template-rows: 100vh 2vh;
  grid-template-areas: "mai asi" "foo foo";
}
.accueil h1,
.accueil h2 {
  color: white;
  font-size: 0.8rem;
  margin-top: 3px;
}
.accueil main {
  position: relative;
  grid-area: mai;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(146, 146, 146, 0)), color-stop(70%, rgba(0, 0, 0, 0.66)), to(rgb(0, 0, 0))), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), color-stop(70%, rgba(255, 255, 255, 0)), color-stop(85%, rgba(255, 255, 255, 0.775))), url("../img/Shop/chope-bouguenais.jpg");
  background-image: linear-gradient(to right, rgba(146, 146, 146, 0) 0%, rgba(0, 0, 0, 0.66) 70%, rgb(0, 0, 0) 100%), linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.775) 85%), url("../img/Shop/chope-bouguenais.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: local;
}
.accueil main::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 4px;
  background-color: black;
}
.accueil main .imagebec {
  height: 20vh;
  width: 90%;
  margin: 10px auto;
  background-image: url("../img/bec_specialites_de_bieres.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.accueil main .nav-app {
  height: 500px;
  width: 320px;
  margin: 50px auto;
  padding: 10px 0 0 0;
  background-color: rgba(128, 128, 128, 0.271);
  border-radius: 30px;
  z-index: 20;
}
.accueil main .nav-app .nav-app-container {
  height: 100%;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.accueil main .nav-app .nav-app-container .app1,
.accueil main .nav-app .nav-app-container .app2,
.accueil main .nav-app .nav-app-container .app3,
.accueil main .nav-app .nav-app-container .app4,
.accueil main .nav-app .nav-app-container .app5,
.accueil main .nav-app .nav-app-container .app6 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.accueil main .nav-app .nav-app-container .app1 a,
.accueil main .nav-app .nav-app-container .app2 a,
.accueil main .nav-app .nav-app-container .app3 a,
.accueil main .nav-app .nav-app-container .app4 a,
.accueil main .nav-app .nav-app-container .app5 a,
.accueil main .nav-app .nav-app-container .app6 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accueil main .nav-app .nav-app-container .app1 a .transition-container,
.accueil main .nav-app .nav-app-container .app2 a .transition-container,
.accueil main .nav-app .nav-app-container .app3 a .transition-container,
.accueil main .nav-app .nav-app-container .app4 a .transition-container,
.accueil main .nav-app .nav-app-container .app5 a .transition-container,
.accueil main .nav-app .nav-app-container .app6 a .transition-container {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.accueil main .nav-app .nav-app-container .app1 a .transition-container:hover,
.accueil main .nav-app .nav-app-container .app2 a .transition-container:hover,
.accueil main .nav-app .nav-app-container .app3 a .transition-container:hover,
.accueil main .nav-app .nav-app-container .app4 a .transition-container:hover,
.accueil main .nav-app .nav-app-container .app5 a .transition-container:hover,
.accueil main .nav-app .nav-app-container .app6 a .transition-container:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.accueil main .nav-app .nav-app-container .app1 a .transition-container:hover .img,
.accueil main .nav-app .nav-app-container .app2 a .transition-container:hover .img,
.accueil main .nav-app .nav-app-container .app3 a .transition-container:hover .img,
.accueil main .nav-app .nav-app-container .app4 a .transition-container:hover .img,
.accueil main .nav-app .nav-app-container .app5 a .transition-container:hover .img,
.accueil main .nav-app .nav-app-container .app6 a .transition-container:hover .img {
  -webkit-box-shadow: 1px 1px 10px 2px rgba(51, 51, 51, 0.88);
          box-shadow: 1px 1px 10px 2px rgba(51, 51, 51, 0.88);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.accueil main .nav-app .nav-app-container .app1 a .transition-container:hover h1,
.accueil main .nav-app .nav-app-container .app1 a .transition-container:hover h2,
.accueil main .nav-app .nav-app-container .app2 a .transition-container:hover h1,
.accueil main .nav-app .nav-app-container .app2 a .transition-container:hover h2,
.accueil main .nav-app .nav-app-container .app3 a .transition-container:hover h1,
.accueil main .nav-app .nav-app-container .app3 a .transition-container:hover h2,
.accueil main .nav-app .nav-app-container .app4 a .transition-container:hover h1,
.accueil main .nav-app .nav-app-container .app4 a .transition-container:hover h2,
.accueil main .nav-app .nav-app-container .app5 a .transition-container:hover h1,
.accueil main .nav-app .nav-app-container .app5 a .transition-container:hover h2,
.accueil main .nav-app .nav-app-container .app6 a .transition-container:hover h1,
.accueil main .nav-app .nav-app-container .app6 a .transition-container:hover h2 {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accueil main .nav-app .nav-app-container .app1 a .img,
.accueil main .nav-app .nav-app-container .app2 a .img,
.accueil main .nav-app .nav-app-container .app3 a .img,
.accueil main .nav-app .nav-app-container .app4 a .img,
.accueil main .nav-app .nav-app-container .app5 a .img,
.accueil main .nav-app .nav-app-container .app6 a .img {
  height: 120px;
  width: 120px;
  border-radius: 15px;
}
.accueil main .nav-app .nav-app-container .app1 .img {
  background: url("../img/patrick-jacquin.webp");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil main .nav-app .nav-app-container .app2 .img {
  background: url("../img/map.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil main .nav-app .nav-app-container .app2 h1 {
  letter-spacing: 2px;
}
.accueil main .nav-app .nav-app-container .app2 h1 span {
  color: #fe6b19;
}
.accueil main .nav-app .nav-app-container .app3 .img {
  background: url("../img/tireuse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil main .nav-app .nav-app-container .app4 .img {
  background: url("../img/coffret.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil main .nav-app .nav-app-container .app5 .img {
  background: url("../img/write.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil main .nav-app .nav-app-container .app6 .img {
  position: relative;
  background: url("../img/canvas.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.accueil main .nav-app .nav-app-container .app6 .img::after {
  content: "1";
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 3px;
}
.accueil main .nav-carousel {
  display: none;
}
.accueil aside {
  grid-area: asi;
  height: 100vh;
  width: 100%;
  max-width: 690px;
}
.accueil aside .video-accueil {
  width: 100%;
  height: 100%;
  max-width: 690px;
  position: relative;
}
.accueil aside .video-accueil .e-logo {
  position: absolute;
  width: 170px;
  height: 170px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-45%, -90%);
          transform: translate(-45%, -90%);
  opacity: 0.6;
  z-index: 21;
}
.accueil aside .video-accueil .e-logo img {
  width: 100%;
  height: auto;
  -webkit-animation: fadeIn 30s;
          animation: fadeIn 30s;
}
.accueil aside .video-accueil video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.accueil footer {
  background-color: black;
  grid-area: foo;
  height: 2vh;
}
.accueil footer p {
  text-align: center;
  color: rgba(255, 255, 255, 0.812);
  font-weight: lighter;
  font-size: 0.6rem;
}
@media screen and (max-width: 1020px) {
  .accueil {
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
  }
  .accueil h1,
  .accueil h2 {
    color: white;
    font-size: 0.8rem;
    margin-top: 4px;
  }
  .accueil main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: none;
    background-color: transparent;
    z-index: 20;
  }
  .accueil main::after {
    display: none;
  }
  .accueil main .nav-app {
    position: absolute;
    height: 90%;
    width: 90%;
    margin: 0;
    padding: 1px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: initial;
  }
  .accueil main .nav-app .nav-app-container {
    -ms-flex-line-pack: space-evenly;
        align-content: space-evenly;
  }
  .accueil main .nav-app .nav-app-container .app1 a,
  .accueil main .nav-app .nav-app-container .app3 a,
  .accueil main .nav-app .nav-app-container .app5 a {
    float: left;
    margin-left: 5%;
  }
  .accueil main .nav-app .nav-app-container .app2 a,
  .accueil main .nav-app .nav-app-container .app4 a,
  .accueil main .nav-app .nav-app-container .app6 a {
    float: right;
    margin-right: 5%;
  }
  .accueil main .nav-app .nav-app-container .app1 a,
  .accueil main .nav-app .nav-app-container .app2 a,
  .accueil main .nav-app .nav-app-container .app3 a,
  .accueil main .nav-app .nav-app-container .app4 a,
  .accueil main .nav-app .nav-app-container .app5 a,
  .accueil main .nav-app .nav-app-container .app6 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .accueil main .nav-app .nav-app-container .app1 a .img,
  .accueil main .nav-app .nav-app-container .app2 a .img,
  .accueil main .nav-app .nav-app-container .app3 a .img,
  .accueil main .nav-app .nav-app-container .app4 a .img,
  .accueil main .nav-app .nav-app-container .app5 a .img,
  .accueil main .nav-app .nav-app-container .app6 a .img {
    height: 120px;
    width: 120px;
    background-color: transparent;
    border-radius: 15px;
  }
  .accueil main .nav-app .nav-app-container .app1 .transition-container {
    -webkit-animation: scaleAnimation1 5s infinite;
            animation: scaleAnimation1 5s infinite;
  }
  .accueil main .nav-app .nav-app-container .app1 .transition-container .img {
    background: url("../img/patrick-jacquin.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app2 .transition-container {
    -webkit-animation: scaleAnimation2 5s infinite;
            animation: scaleAnimation2 5s infinite;
  }
  .accueil main .nav-app .nav-app-container .app2 .transition-container .img {
    background: url("../img/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app3 .transition-container {
    -webkit-animation: scaleAnimation3 5s infinite;
            animation: scaleAnimation3 5s infinite;
  }
  .accueil main .nav-app .nav-app-container .app3 .transition-container .img {
    background: url("../img/tireuse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app4 .transition-container {
    -webkit-animation: scaleAnimation4 5s infinite;
            animation: scaleAnimation4 5s infinite;
  }
  .accueil main .nav-app .nav-app-container .app4 .transition-container .img {
    background: url("../img/coffret.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app5 .transition-container {
    -webkit-animation: scaleAnimation5 5s infinite;
            animation: scaleAnimation5 5s infinite;
  }
  .accueil main .nav-app .nav-app-container .app5 .transition-container .img {
    background: url("../img/write.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app6 .transition-container {
    -webkit-animation: scaleAnimation6 5s infinite;
            animation: scaleAnimation6 5s infinite;
  }
  .accueil main .nav-app .nav-app-container .app6 .transition-container .img {
    background: url("../img/canvas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil aside {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0.9;
  }
  .accueil aside .video-accueil {
    width: 100%;
    height: 100%;
    max-width: 690px;
  }
  .accueil aside .video-accueil video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .accueil footer {
    background-color: transparent;
    width: 100%;
  }
  .accueil footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.812);
    font-size: 0.5rem;
  }
}
@media screen and (min-width: 760px) and (max-width: 920px) and (orientation: portrait) {
  .accueil h1,
  .accueil h2 {
    color: white;
    font-size: 0.8rem;
    margin-top: 4px;
  }
  .accueil main {
    width: 100%;
    height: 100vh;
    background-image: none;
    background-color: transparent;
    z-index: 20;
  }
  .accueil main::after {
    display: none;
  }
  .accueil main .nav-app {
    height: 60vh;
    width: 370px;
    margin-top: 35px;
    padding: 1px;
    background-color: initial;
  }
  .accueil main .nav-app .nav-app-container .app1 a,
  .accueil main .nav-app .nav-app-container .app2 a,
  .accueil main .nav-app .nav-app-container .app3 a,
  .accueil main .nav-app .nav-app-container .app4 a,
  .accueil main .nav-app .nav-app-container .app5 a,
  .accueil main .nav-app .nav-app-container .app6 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .accueil main .nav-app .nav-app-container .app1 a .img,
  .accueil main .nav-app .nav-app-container .app2 a .img,
  .accueil main .nav-app .nav-app-container .app3 a .img,
  .accueil main .nav-app .nav-app-container .app4 a .img,
  .accueil main .nav-app .nav-app-container .app5 a .img,
  .accueil main .nav-app .nav-app-container .app6 a .img {
    height: 130px;
    width: 130px;
    background-color: transparent;
    border-radius: 15px;
  }
  .accueil main .nav-app .nav-app-container .app1 .img {
    background: url("../img/patrick-jacquin.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app2 .img {
    background: url("../img/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app3 .img {
    background: url("../img/tireuse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app4 .img {
    background: url("../img/coffret.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app5 .img {
    background: url("../img/write.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app6 .img {
    background: url("../img/canvas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil aside {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
    opacity: 0.9;
  }
  .accueil aside .video-accueil {
    width: 100%;
    height: 100%;
    max-width: 690px;
  }
  .accueil aside .video-accueil .e-logo {
    display: none;
  }
  .accueil aside .video-accueil video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .accueil footer {
    background-color: transparent;
    width: 100%;
  }
  .accueil footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.812);
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 819px) {
  .accueil {
    height: 100vh;
    width: 100%;
    position: relative;
    display: block;
  }
  .accueil h1,
  .accueil h2 {
    color: white;
    font-size: 0.7rem;
    margin-top: 4px;
    z-index: 40;
  }
  .accueil main {
    width: 100%;
    height: 100vh;
    background-image: none;
    background-color: transparent;
    z-index: 20;
  }
  .accueil main::after {
    display: none;
  }
  .accueil main .nav-app {
    height: 60vh;
    width: 50%;
    min-width: 300px;
    padding: 1px;
    background-color: initial;
  }
  .accueil main .nav-app .nav-app-container .app1 a,
  .accueil main .nav-app .nav-app-container .app2 a,
  .accueil main .nav-app .nav-app-container .app3 a,
  .accueil main .nav-app .nav-app-container .app4 a,
  .accueil main .nav-app .nav-app-container .app5 a,
  .accueil main .nav-app .nav-app-container .app6 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .accueil main .nav-app .nav-app-container .app1 a .img,
  .accueil main .nav-app .nav-app-container .app2 a .img,
  .accueil main .nav-app .nav-app-container .app3 a .img,
  .accueil main .nav-app .nav-app-container .app4 a .img,
  .accueil main .nav-app .nav-app-container .app5 a .img,
  .accueil main .nav-app .nav-app-container .app6 a .img {
    height: 120px;
    width: 120px;
    background-color: transparent;
    border-radius: 15px;
  }
  .accueil main .nav-app .nav-app-container .app1 .img {
    background: url("../img/patrick-jacquin.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app2 .img {
    background: url("../img/map.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app3 .img {
    background: url("../img/tireuse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app4 .img {
    background: url("../img/coffret.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app5 .img {
    background: url("../img/write.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil main .nav-app .nav-app-container .app6 .img {
    background: url("../img/canvas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .accueil aside {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-52%);
            transform: translateX(-52%);
    opacity: 0.9;
  }
  .accueil aside .video-accueil {
    width: 100%;
    height: 100%;
    max-width: 690px;
  }
  .accueil aside .video-accueil .e-logo {
    display: none;
  }
  .accueil aside .video-accueil video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .accueil footer {
    background-color: transparent;
    width: 100%;
  }
  .accueil footer p {
    text-align: center;
    color: rgba(255, 255, 255, 0.812);
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .accueil h1 {
    color: white;
    font-size: 0.6rem;
    margin-top: 4px;
  }
  .accueil h2 {
    color: white;
    font-size: 0.5rem;
    margin-top: 4px;
  }
  .accueil main {
    width: 100%;
    height: 100vh;
    background-image: none;
    background-color: transparent;
    z-index: 20;
  }
  .accueil main::after {
    display: none;
  }
  .accueil main .nav-app {
    height: 60vh;
    width: 50%;
    min-width: 290px;
    margin: 35px auto;
    padding: 1px;
    background-color: initial;
  }
  .accueil main .nav-app .nav-app-container .app1 a,
  .accueil main .nav-app .nav-app-container .app2 a,
  .accueil main .nav-app .nav-app-container .app3 a,
  .accueil main .nav-app .nav-app-container .app4 a,
  .accueil main .nav-app .nav-app-container .app5 a,
  .accueil main .nav-app .nav-app-container .app6 a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .accueil main .nav-app .nav-app-container .app1 a .img,
  .accueil main .nav-app .nav-app-container .app2 a .img,
  .accueil main .nav-app .nav-app-container .app3 a .img,
  .accueil main .nav-app .nav-app-container .app4 a .img,
  .accueil main .nav-app .nav-app-container .app5 a .img,
  .accueil main .nav-app .nav-app-container .app6 a .img {
    height: 100px;
    width: 100px;
    background-color: transparent;
    border-radius: 15px;
  }
}
@media screen and (max-width: 950px) and (orientation: landscape) {
  .accueil main .nav-app {
    display: none;
  }
  .accueil main .nav-carousel {
    display: block;
    padding: 20px;
    -webkit-perspective: 500px;
            perspective: 500px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accueil main .nav-carousel > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .accueil main .nav-carousel figure {
    margin: 0;
    width: 150px;
    height: 150px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    -webkit-transform-origin: 50% 50% -482.8427124746px;
            transform-origin: 50% 50% -482.8427124746px;
  }
  .accueil main .nav-carousel figure .img {
    width: 150px;
    height: 150px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 15px;
    -o-object-fit: cover;
       object-fit: cover;
    /* L'image sera redimensionnée pour couvrir tout le conteneur tout en préservant son ratio */
    /* L'image sera centrée à l'intérieur du conteneur */
    opacity: 1;
  }
  .accueil main .nav-carousel figure .img:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: 50% 50% -482.8427124746px;
            transform-origin: 50% 50% -482.8427124746px;
  }
  .accueil main .nav-carousel figure .img:nth-child(2) {
    -webkit-transform: rotateY(1.0471975512rad);
            transform: rotateY(1.0471975512rad);
  }
  .accueil main .nav-carousel figure .img:nth-child(3) {
    -webkit-transform: rotateY(2.0943951024rad);
            transform: rotateY(2.0943951024rad);
  }
  .accueil main .nav-carousel figure .img:nth-child(4) {
    -webkit-transform: rotateY(3.1415926536rad);
            transform: rotateY(3.1415926536rad);
  }
  .accueil main .nav-carousel figure .img:nth-child(5) {
    -webkit-transform: rotateY(4.1887902048rad);
            transform: rotateY(4.1887902048rad);
  }
  .accueil main .nav-carousel figure .img:nth-child(6) {
    -webkit-transform: rotateY(5.235987756rad);
            transform: rotateY(5.235987756rad);
  }
  .accueil main .nav-carousel nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0;
  }
  .accueil main .nav-carousel nav button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0 5px;
    cursor: pointer;
    color: #fe6b19;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 5px 10px;
  }
  .accueil aside {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-51%);
            transform: translateX(-51%);
  }
}/*# sourceMappingURL=index.css.map */