@font-face {
  font-family: "Bacasime Antique", serif;
  src: url(../fonts/BacasimeAntique-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Bacasime Antique;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
  background-color: rgba(245, 245, 220, 0.554);
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h1 {
  font-weight: lighter;
  font-size: 2.5rem;
}

h2 {
  padding-bottom: 10px;
  font-weight: lighter;
}

h3 {
  padding: 20px 0;
  text-align: left;
  font-size: 1.5rem;
  font-weight: lighter;
}

span {
  font-weight: bold;
}

i {
  font-weight: lighter;
  margin: 0 auto;
  font-size: 0.8rem;
}

.date {
  font-style: italic;
}

.strong {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
}
@media screen and (max-width: 520px) {
  .strong {
    -webkit-transform: translateX(1px);
            transform: translateX(1px);
  }
}

.button1 {
  width: 140px;
  min-width: 139px;
  display: block;
  color: rgba(49, 49, 49, 0.519);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
  text-align: right;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  -webkit-transform: scale(1.15) translateX(-20%);
          transform: scale(1.15) translateX(-20%);
  color: rgba(0, 0, 0, 0.607);
}
@media screen and (max-width: 580px) {
  .button1:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media screen and (max-width: 580px) {
  .button1 {
    text-align: center;
    margin: 0 auto;
  }
}

header {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
header::after {
  content: " ";
  position: absolute;
  display: block;
  left: 50%;
  bottom: 0px;
  width: 100%;
  height: 1.5px;
  background-color: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.up {
  position: relative;
  width: 90%;
  height: 85vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "pic pre" "pic des";
}
.up::after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: black;
}
@media screen and (max-width: 800px) {
  .up {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2.5fr 1fr;
    grid-template-areas: "pic pre" "des des";
  }
}
@media screen and (max-width: 580px) {
  .up {
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr 1fr;
    grid-template-areas: "pic" "pre" "des";
  }
}
.up .picture {
  grid-area: pic;
  background-image: url("../img/photogirl.jpg");
  background-size: cover;
  background-position: center;
  height: 80%;
  width: 80%;
  margin: auto;
}
.up .presentation {
  grid-area: pre;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.up .presentation .name h1,
.up .presentation .name h2 {
  text-align: right;
}
@media screen and (max-width: 580px) {
  .up .presentation .name h1,
  .up .presentation .name h2 {
    display: none;
  }
}
.up .description {
  grid-area: des;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.up .description p {
  text-align: justify;
  width: 100%;
  padding-left: 10%;
}
@media screen and (max-width: 800px) {
  .up .description p {
    display: block;
    padding: 1%;
  }
}
@media screen and (max-width: 580px) {
  .up .description p {
    padding: 10px 0 20px 0;
  }
}

.down {
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.down::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: black;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (max-width: 800px) {
  .down::before {
    display: none;
  }
}
.down::after {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 1.5px;
  background-color: black;
}
@media screen and (max-width: 800px) {
  .down {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.down .down-left {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 130%;
}
@media screen and (max-width: 800px) {
  .down .down-left {
    position: relative;
  }
  .down .down-left::after {
    content: "";
    position: absolute;
    display: block;
    left: 0px;
    bottom: -1px;
    width: 110%;
    height: 1.5px;
    background-color: black;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
}
.down .down-left .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.down .down-left .education .school1,
.down .down-left .education .school2 {
  padding: 0 0 12px 12px;
}
.down .down-left .skills ul {
  padding: 0 0 12px 27px;
}
.down .down-right {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.down .down-right .exp1,
.down .down-right .exp2,
.down .down-right .exp3 {
  padding-bottom: 20px;
  line-height: 130%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
@media screen and (max-width: 520px) {
  .down .down-right .exp1,
  .down .down-right .exp2,
  .down .down-right .exp3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "dat" "com";
  }
  .down .down-right .exp1 .date,
  .down .down-right .exp2 .date,
  .down .down-right .exp3 .date {
    grid-area: dat;
  }
}
@media screen and (max-width: 520px) and (max-width: 520px) {
  .down .down-right .exp1 .date,
  .down .down-right .exp2 .date,
  .down .down-right .exp3 .date {
    margin: auto 0;
  }
}
@media screen and (max-width: 520px) {
  .down .down-right .exp1 .company,
  .down .down-right .exp2 .company,
  .down .down-right .exp3 .company {
    grid-area: com;
  }
}
.down .down-right .exp1 ul,
.down .down-right .exp2 ul,
.down .down-right .exp3 ul {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

footer {
  width: 90%;
  margin: 25px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
footer > p:first-child {
  text-align: left;
}
footer > p:nth-child(3) {
  text-align: right;
}
@media screen and (max-width: 690px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer p {
    padding-bottom: 5px;
  }
}/*# sourceMappingURL=index.css.map */